.container {
    background-color: rgb(187, 187, 201);
    padding: 1px;
    margin: 50px;
    border-radius: 5px;
    text-align: center;
    border-radius: 25px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra à borda */

}