*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
 
header{
    background: linear-gradient(to left, #fcba03, #000000);
    color: rgba(241, 163, 19, 0.911);
    padding: 1%;
}


